
.container {
	transition: opacity 1s ease;
}

.header,.menu-block,.map-container {
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 15px;
}

.header {
	background-color: #eeeeee;
	margin-top: 20px;
}

.map {
	background-color: #eeeeee;
	height: 500px;
}

input.form-control[type="number"] {
	text-align: right;
	margin-bottom: 5px;
}
input[type="checkbox"]:focus {
	outline: 0;
}

.divMarker {
	color: #000000;
	position: absolute;
	background: transparent url("marker.png") 0 0 no-repeat;
	height: 30px;
	padding-left: 20px;
	white-space: nowrap;
	font: normal 15px/34px Arial !important;
	margin-top: -30px;
	margin-left: -14px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.loading {
	background: transparent url("clock.gif") 0 0 no-repeat;
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin-left: -32px;
	margin-top: -32px;
	opacity: 1;
	transition: opacity 1s ease;
}